includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes

    # For me level 7 for Wev Development, then 10 for Package Development, but you can choose the level that suits you best.
    level: 7

    tmpDir: /tmp/phpstan
